* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.container {
  display: flex;
  gap: 20px;
}

.nav-item1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: x-large;
  color: #232d31;
}

.nav-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color: #232d31;
}

.content {
  display: flex;
}

h1 {
  color: #232d31;
}

h2 {
  color: #aa60b9;
  margin: 5px 0px;
}

.left-div {
  width: 50%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 60px;
}

.right-div {
  width: 50%;
}

.person-img {
  width: 90%;
}

.buttons {
  margin-top: 60px;
}

.btn-1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 6px 12px;
  font-size: medium;
  color: #f5f5f5;
  background-color: #4d6570;
  border: none;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.btn-1:hover {
  background-color: #384951;
}

.btn-2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 6px 12px;
  font-size: large;
  font-size: medium;
  color: #f5f5f5;
  background-color: #aa60b9;
  border: none;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.btn-2:hover {
  background-color: #bf6bd0;
}
